<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>Kulta Air Flights - {{ title }}</title>
    {% else %}
        <title>Kulta Air Flights</title>
    {% endif %}
    <link rel='stylesheet' href='main.css'>
</head>
<body>
<div class="menu-bar">
    <div class="container">
        <nav class="main-menu">
            <ul>
                <li class="active"><a href="./home">Home</a></li>
                <li><a href="./booking.html">Book a Flight</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./about">About Us</a></li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>