{% extends "layout.html" %}
{% block content %}
    <h2 class="card-title"> Book a flight </h2>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <fieldset class="form-row justify-content-center">
                <div class="form-group col-md-4">
                    {{ form.fly_from.label(class="form-control-label") }}
                    {% if form.fly_from.errors %}
                        {{ form.fly_from(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fly_from.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fly_from(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ form.fly_to.label(class="form-control-label") }}
                    {% if form.fly_to.errors %}
                        {{ form.fly_to(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fly_to.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fly_to(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    {{ form.calendar.label(class="form-control-label") }}
                    {% if form.calendar.errors %}
                        {{ form.calendar(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.calendar.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.calendar(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-1">
                    {{ form.tickets.label(class="form-control-label") }}
                    {% if form.tickets.errors %}
                        {{ form.tickets(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tickets.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tickets(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            {# TODO make this pretty somehow #}
            <div class="d-grid btn-group col-6 mx-auto">
                <button class="btn btn-outline-info"
                        type="submit">{{ form.submit(class="btn btn-lg") }}</button>
            </div>
        </form>
    </div>
{% endblock content %}