{% extends "layout.html" %}
{% block content %}
    <h2 class="account-heading">Kulta Air Account for {{ current_user.first_name }}</h2><br>
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                {#                <h2 class="account-heading">{{ current_user.first_name }} {{ current_user.last_name }}</h2>#}
                {#                <p class="text-secondary">{{ current_user.email }}</p>#}
                {% include 'customer_details.html' %}
            </div>
        </div>
    </div>

    {% include 'upcoming_bookings.html' %}

{% endblock content %}