{% extends "layout.html" %}
{% block content %}
    <h2 class="account-heading"> Kulta Club Account Details </h2>
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                {% if current_user.phone_number == None %}
                    <small class="text-secondary">No phone number provided</small>
                    <p class="text-secondary">Click here to add a phone number to your account.</p>
                    {# TODO allow user to add a phone number? #}
                {% else %}
                    <p class="text-secondary">{{ current_user.phone_number }}</p>
                    <p>Click here to update your phone number.</p>
                    {# TODO allow user to update their phone number? #}
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'upcoming_bookings.html' %}

{% endblock content %}