<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="bookings-heading">Upcoming bookings</h2>
            {% set ns = namespace(upcoming=false, past=false) %}
            {% if bookings == [] %}
                <br>
                <p class="text-secondary"><a class="ml-2" href="{{ url_for('home') }}">You have no upcoming bookings.
                    Click here to make one!</a></p>
            {% else %}
                <br>
                {% for booking in bookings %}
                    {# booking[5] is a bool representing whether the booking is in the past #}
                    {% if not booking[5] %}
                        {% set ns.upcoming = true %}
                        <div class="content-section">
                            <form method="post" action="">
                                <h3 class="text-info">Booking reference {{ booking[0].booking_ref.upper() }}</h3>
                                <h5>Flight {{ booking[1].flight_number }} flying from {{ booking[3].name }}
                                    to {{ booking[4].name }}</h5>
                                <br>
                                <h5>
                                    <i class="fa-solid fa-plane-departure"></i> {{ (booking[1].depart_date).strftime("%a %d %B") }}
                                    at
                                    {{ booking[2].depart_time.strftime("%#I:%M%p") }} ({{ booking[3].timezone }} time).
                                </h5>
                                <h5>
                                    <i class="fa-solid fa-plane-arrival"></i> {{ (booking[1].arrival_date).strftime("%a %d %B") }}
                                    at
                                    {{ booking[2].arrive_time.strftime("%#I:%M%p") }} ({{ booking[4].timezone }} time).
                                </h5>
                                <h5>Seats booked: {{ booking[0].tickets }}</h5>
                                <input type="hidden" name="booking" value={{ booking[0].booking_ref.upper() }}>
                                <input type="submit" value="View invoice" name="view" class="btn btn-outline-info">
                                <input type="submit" value="Cancel booking" name="cancel" class="btn btn-outline-info">
                            </form>
                        </div>
                    {% else %}
                        {% set ns.past = true %}
                    {% endif %}
                {% endfor %}
                {% if ns.upcoming == false %}
                    <div class="text-secondary"><a class="ml-1" href="{{ url_for('home') }}">You have no upcoming
                        bookings. Click here to make one!</a>
                    </div>
                    <br>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if not bookings == [] and ns.past == true %}
    <div class="content-section">
        <div class="media-body">
            <h2 class="bookings-heading">Past bookings</h2>
            <br>
            {% for booking in bookings|reverse %}
                {% if booking[5] %}
                    <div class="content-section">
                        <form method="post" action="">
                            <h3 class="text-info">Booking reference {{ booking[0].booking_ref.upper() }}</h3>
                            <h5>Flight {{ booking[1].flight_number }} flying from {{ booking[3].name }}
                                ({{ booking[3].int_code }})
                                to {{ booking[4].name }} ({{ booking[4].int_code }})</h5>
                            <h5>
                                <i class="fa-solid fa-plane-departure"></i> {{ (booking[1].depart_date).strftime("%A %d %B, %Y") }}
                                at {{ booking[2].depart_time.strftime("%#I:%M%p") }} ({{ booking[3].timezone }} time).
                            </h5>
                            <h5>
                                <i class="fa-solid fa-plane-arrival"></i> {{ (booking[1].arrival_date).strftime("%A %d %B, %Y") }}
                                at {{ booking[2].arrive_time.strftime("%#I:%M%p") }} ({{ booking[4].timezone }} time).
                            </h5>
                            <h5>Seats booked: {{ booking[0].tickets }}</h5>
                            <input type="hidden" name="booking" value={{ booking[0].booking_ref.upper() }}>
                            <input type="submit" value="View invoice" name="view" class="btn btn-outline-info">
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
