body {
    margin: auto;
    text-align: center;
    font-family: "Candara", serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    width: 50%;
    margin: auto;
}

.navbar a {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 33.33%;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #5f7bdc;
    color: white;
}